includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon

parameters:
    level: 8
    excludes_analyse:
        - %rootDir%/../../../vendor/*
